<app-numeric [renk]="'purple'" (numberChange)="onNumber1Change($event)"></app-numeric>
<app-numeric [renk]="'blue'"  (numberChange)="onNumber2Change($event)"></app-numeric>
<div class="button-container">
    <app-btn actionType="topla"  (calculateEvent)="calculate('topla')"></app-btn>
    <app-btn actionType="cikart" (calculateEvent)="calculate('cikart')"></app-btn>
    <app-btn actionType="carp" (calculateEvent)="calculate('carp')"></app-btn>
    <app-btn actionType="bol" (calculateEvent)="calculate('bol')"></app-btn>
  </div>
  
<app-numeric [sayi]="sayi3" [renk]="'orange'" (numberChange)="onNumber3Change($event)"></app-numeric>

